.customer-list {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  .content-wrapper {
    .tab-wrapper {

    }
    .filter-wrapper {
      display: flex;
      align-items: center;
      .filter-input {
        width: 220px;
      }
      .ft-child {
        margin-right: 10px;
      }
    }
    .table-wrapper {
      margin-top: 20px;
    }
  }
}
