<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <style>
      .parent {
        width: 200px;
        position: absolute;
        top: 0;
        bottom: 0;
        border: 1px solid brown;
        box-sizing: border-box;
      }
      .child {
        height: 300px;
        background-color: red;
      }
      .child2 {
        height: calc(100% - 300px);
        background-color: palegoldenrod;
      }
    </style>
  </head>
  <body>
    <div class="parent">
      <div class="child"></div>
      <div class="child2"></div>
    </div>
  </body>
</html>
