{
    "presets": [
      ["@babel/preset-env", {
        "useBuiltIns": "usage",
        "modules": false,
        "targets": {
          "browsers": "chrome>=52"
        }
      }]
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime", {
        "helpers": false
      }]
    ]
  }